<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d %c{2}]%n >>%highlight{%p} %m%n%n"/>
    </Console>
    <File name="File" fileName="logs/interface_sdk.log" append="false" >
      <PatternLayout>
        <pattern>%d %c{2}%n  %p %m%n%n</pattern>
      </PatternLayout>
    </File>
  </appenders>
  <loggers>
    <!--Change the log level in the following-->
    <root level="warn">
      <appender-ref ref="File"/>
      <!--Uncomment to log to console-->
      <!--<appender-ref ref="Console"/>-->
    </root>
  </loggers>
</configuration>
